@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

$color-bg: linear-gradient(#075962, rgb(255, 174, 74));
$color-success: rgb(107, 189, 110);
$color-error: rgb(246, 99, 89);
$color-warning: rgb(255, 170, 44);
$color-info: rgb(71, 168, 245);

$color-primary: #cccccc;
$color-secondary: #f2f2f2;

$color-opaque-button-text: #000000;
$color-transparent-button-text: $color-primary;

$color-darker-background: rgb(7, 21, 47, 0.25);


$img-bg: url('../img/background.png');